.addbookmark{
    background-color: rgb(59, 94, 94);
    padding: 10px;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
}
#addbtn{
    background-color: rgb(34, 63, 63);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}