.addbookmark{
    background-color: rgb(59, 94, 94);
    padding: 10px;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
}
#addbtn{
    background-color: rgb(147, 165, 165);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

nav{
    background-color: rgb(59, 94, 94);
    text-align: left;
    padding:5px;
    margin-top: 0%;
    font-size: 10px;
    color: white;
    font-weight: bold;
}

.bookmark-list{
    width: auto;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    font-size: 15px
}
.bookmark-list li{
    background-color: rgb(233, 240, 240);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.bookmark-list li a{
    color: black;
    text-decoration: none;
}