.addbookmark{
    background-color: rgb(59, 94, 94);
    padding: 10px;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
}
#addbtn{
    background-color: rgb(147, 165, 165);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

nav{
    background-color: rgb(59, 94, 94);
    padding: 15px;
    text-align: left;
    font-size: 30px;
    color: white;
    font-weight: bold;
}